[Desktop Entry]
Name=Adobe Flash Player
Comment=Adobe Flash Player
Exec=flashplayer %f
Icon=/usr/share/icons/hicolor/scalable/apps/flashplayer.svg
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Video;AudioVideo;Player;
NotShowIn=KDE;
MimeType=application/vnd.adobe.flash.movie;application/x-flash-video;application/x-shockwave-flash;application/futuresplash;

